.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    margin-top: 20px;
    width: 30vw;
}

.form > input{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}