@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Lato:wght@700&family=Roboto:wght@100;300;400;700;900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: green;
  background: black;
  font-family: "Lato", sans-serif;
}
